.hamburger-menu {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
}
.hamburger-menu > span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 4px;
  background-color: #ffffff;
}
.hamburger-menu,
.hamburger-menu > span {
  transition: all 0.4s;
}
.hamburger-menu > span:nth-child(1) {
  top: 20%;
}
.hamburger-menu > span:nth-child(2) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.hamburger-menu > span:nth-child(3) {
  bottom: 20%;
}

/* --- アニメーションパターン --- */
#menu01.active span {
  left: 0;
}
#menu01.active span:nth-of-type(1) {
  transform: translateX(7px) translateY(12px) rotate(-45deg);
}
#menu01.active span:nth-of-type(2) {
  left: 200%;
  opacity: 0;
  transform: translateY(10px);
  animation: active-menu01-bar01 0.8s forwards;
}
@keyframes active-menu01-bar01 {
  100% {
    height: 0;
  }
}
#menu01.active span:nth-of-type(3) {
  transform: translateX(8px) translateY(-14px) rotate(45deg);
}
