@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #e5f5ff;
  --secondary: #332878;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: #2f2f2f;
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
  transition: all 0.3s ease;
}

.ahover:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
