@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: #ededed;
  color: #2f2f2f;
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
  transition: all 0.3s ease;
}

.ahover:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
