.bg-gradient-original {
  background-image: linear-gradient(155deg, #00fff394, #ff6f6f94 73%);
}

.bg-babble {
  background-image: url('../../image/back2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
